.wrapper {
    display: flex;
    justify-content: center;
    width: 100dvw;
    height: 100%;
    background-color: var(--color-grey-dark-1);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:1024px) {
    .wrapper {
        /* min-height: 90dvh;    */
    }
    
    .container {
        max-width: 128rem;
    }
}