.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(36, 36, 36, 1);
  overflow: hidden;
}

.event_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  overflow: auto;
  gap: 2rem;
}

/* Desktop responsiveness */
@media (min-width: 1024px) {

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 36, 36, 1);
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(250, 56, 56, 0.1);
  }

  .event_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow-y: auto;
    gap: 2rem;
    margin: 0;
  }

}