.event_wrapper {
    position: relative;
    display: flex;
    width: 95%;
    min-height: 11rem;
    max-height: 11rem;
    gap: 0;
    background-color: var(--color-grey-dark-1);
    border: .2rem var(--color-grey-dark-3) solid;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
}

.event_wrapper.selected {
    border-color: var(--color-grey-light-3) ;
}

.image_container {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.event_image {
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.event_shroud {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    background-color: var(--color-grey-dark-1);
    transition: transform ease-out .2s;
}

.event_content_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    flex-grow: 1;
    color: var(--color-grey-dark-4);
}

.event_wrapper:hover .event_content_wrapper,
.event_wrapper.selected .event_content_wrapper {
    color: var(--color-grey-light-3);
}

.event_content {
    position: relative;
    max-width: 100%;
}

.event_title {
    position: relative;
    top: 1rem;
    line-height: 2.5rem;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    flex-shrink: 1;
    padding-left: 2rem;
}

.date_container {
    display: flex;
    min-width: max-content;
    justify-self: end;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    flex: 0 0 auto;

    padding-right: 1rem;
}

.date_icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

.date_container p {
    font-size: 1.5rem;
}

@media(min-width:1024px) {
    .event_wrapper {
        position: relative;
        display: flex;
        justify-content: unset;
        align-items: unset;
        min-width: 80rem;
        width: 80rem;
        min-height: 11rem;
        max-height: auto;
        gap: 0;
        background-color: var(--color-grey-dark-1);
        border: .2rem var(--color-grey-dark-3) solid;
        border-radius: 1rem;
        cursor: pointer;
        padding: 0;
        overflow: hidden;
    }

    .event_wrapper.selected {
        border-color: var(--color-grey-light-3) ;
    }

    .image_container {
        position: relative;
        width: 25rem;
        height: 20rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .event_image {
        width: 30rem;
        height: 25rem;
        transform: scale(1);
        transition: transform .2s ease-out;
    }

    .event_wrapper:hover .event_image,
    .event_wrapper.selected .event_image {
        transform: scale(1.02);
    }

    .event_shroud {
        right: -14rem;
        display: flex;
        justify-content: end;
        background-color: var(--color-grey-dark-1);
        transform: skewX(-155deg) translateX(0);
        clip-path: none;
    }

    .event_wrapper:hover .event_shroud,
    .event_wrapper.selected .event_shroud {
        transform: skewX(-155deg) translateX(7rem);
    }

    .event_content_wrapper{
        align-items: center;
    }

    .event_content {
        width: 35rem;
    }

    .event_title {
        flex-shrink: unset;
        padding: 1rem 0;
    }


    .event_content p {
        /* display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; */
        line-height: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis; /* optional */
        white-space: nowrap;     /* optional, keep on one line */
    }

    .date_container {
        align-self: center;
        flex-grow: 1;
    }

    .date_icon {
        width: 2.5rem;
        height: 2.5rem;
    }


}
