.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--color-grey-dark-1);
    border-radius: 1rem;
    overflow: hidden;
}

.event_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_image_wrapper {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.event_image {
    position: relative;
    width: 100%;
    border-radius: 1rem;
}

.event_image_wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(36, 36, 36, 1) 0%,
        rgba(36, 36, 36, 0) 100%
    );
    pointer-events: none;
}

.event_title {
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    margin: 0rem 2rem;
    text-align: center;
    line-height: 3.5rem;
}

.event_title::before {
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-image: var(--color-grad-right);
}

.icon_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }

.event_desc {
    font-size: 1.8rem;
    padding: 2rem 2rem 0 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.see_more {
    background: none;
    border: none;
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    padding: 2rem 0;
}

.see_more:hover {
    opacity: 0.8;
}

/* desktop */
@media (min-width:1024px) {
    .container {
        justify-content: center;
        padding: 3rem 0;
    }

    .event_content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .event_image_wrapper {
        width: 45%;
    }

    .event_image_wrapper::after {
        display: none;
    }



    .event_title {
        padding-top: 2rem;
        order: 3;
    }

    .icon_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        order: 2;
        margin-left: 3rem;
        padding-top: 0;
    }

    .event_desc {
        padding: 2rem 5rem 0 5rem;
        -webkit-line-clamp: 3;
        order: 4;
    }

    .see_more {
        order: 5;
        padding-bottom: 0;
    }

}