.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    padding-bottom: 2rem;
}

.loading_skeleton {
    position: relative;
    min-width: 95vw;
}

.event_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_image_wrapper {
    position: relative;
    width: 100%;
    border-radius: 1rem;
}

.event_image {
    position: relative;
    width: 100%;
}

.event_image_wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(36, 36, 36, 1) 0%,
        rgba(36, 36, 36, 0) 100%
    );
    pointer-events: none;
}

.event_title {
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    margin: 0rem 2rem;
    text-align: center;
    line-height: 3.5rem;
}

.icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.ticket_wrapper{
    margin-top: 2rem;
}


.event_desc {
    font-size: 1.8rem;
    padding: 2rem 2rem 0 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
}

.see_more {
    background: none;
    border: none;
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    padding: 2rem 0;
}

.see_more:hover {
    opacity: 0.8;
}

/* desktop */
@media (min-width:1024px) {

    .container {
        justify-content: center;
    }

    .event_content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }

    .event_image_wrapper {
        position: relative;
        width: 60%;
        aspect-ratio: 7 / 4;
        overflow: hidden;
        box-shadow: var(--shadow-grey-sm);
        justify-self: center;
    }

    .event_image_wrapper::after {
        display: none;
    }

    .event_image {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center top;

        display: block;
        justify-self: center;
    }

    .event_title {
        padding-top: 2rem;
        order: 3;
        
        margin: 0;
    }

    .ticket_title{
        width: 70%;
    }

    .icon_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        order: 2;
        padding-top: 0;
    }

    .ticket_wrapper{
        position: relative;
        display: flex;
        margin-top: 2rem;
        order: 4;
        width: 30%;
    }

    .event_desc {
        padding: 2rem 5rem 0 5rem;
        -webkit-line-clamp: 3;
        order: 5;
    }

    .shortened_desc {
        -webkit-line-clamp: 1;
    }

    .see_more {
        order: 5;
        padding-bottom: 0;
    }

}