.page_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-dark-4);
    background-image: url('/assets/contact/tiles_dark.png');
    padding: 8rem 0;
    height: 100vh;
}

.content_background {
    display: none;
    }

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12fr;
    background-color: var(--color-grey-dark-1);
    box-shadow: var(--shadow-dark-sm);
    padding: 3rem 0;
    z-index: 1;
}

.title {
    position: relative;
    font-size: 4rem;
    grid-row: 1 / span 2;
    width: fit-content;
    justify-self: center;
}

.title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.3rem;
    bottom: 1rem;
    background: var(--color-grad-right);
}

.content_desc {
    padding: 2rem 4rem;
    font-size: 2rem;
    grid-row: 3 / span 3;
}

.socials_container {
    grid-row: 7 / span 2;
}

.opening_container {
    width: 100%;
    padding: 2rem 4rem 0;
    grid-row: 9 / span 3;
}


@media (min-width:1024px) {
    
    .content_background {
        display: block;
        position: absolute;
        fill: var(--color-grey-dark-1);
        transform: scaleY(1.1);
        filter: drop-shadow(var(--shadow-dark-lg));
    }

    .content {
        grid-template-columns: 2fr;
        max-width: 90rem;
        padding: 2rem;
        background-color: transparent;
        align-items: center;
        justify-content: end;
        box-shadow: none;
    }
    
    .title {
        margin-top: 0;
        grid-column: 1;
        align-items: center;
        
    }

    .title::before {
        bottom: 1rem;
    }
    
    .content_desc {
        font-size: 2rem;
        grid-row: 3 / span 8;
        grid-column: 1;
    }

    .socials_container {
        grid-column: 2;
        grid-row: 1 / span 6;
    }

    .opening_container {
        width: 40rem;
        grid-column: 2;
        grid-row: 7 / span 6;
    }

}