.container {
  position: relative;
  width: min(40rem, 90%);
  height: 100%;
  min-width: 0;
  border-radius: 1rem;
  overflow: hidden;
  background: var(--color-grey-dark-1);
  color: var(--color-grey-light-3);

  display: flex;
  flex-direction: column;

  --specials-img-h: 22rem;
  box-shadow: var(--shadow-dark-sm);
}

.weekday {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.3rem;
  padding: 0.7rem 1rem;
  background-color: rgba(36, 36, 36, 0.95);
  backdrop-filter: blur(2px);
}

.imageWrap > * {
  width: 100%;
  height: 100%;
}
.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special_image_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 5;
    max-height: 25rem;
    overflow: hidden;
    justify-self: center;
}

.backdrop_wrap {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.backdrop_image {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  filter: blur(18px) saturate(1.1) brightness(0.9);
  opacity: 0.5;
}

.backdrop_wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(36, 36, 36,0) 0%,
    rgba(36, 36, 36,0.35) 70%,
    rgba(36, 36, 36,1) 100%
  );
}

.foreground_image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}


.special_image_wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        to top,
        rgba(36, 36, 36, 1) 0%,
        rgba(36, 36, 36, 0) 100%
    );
    pointer-events: none;
}

.content {
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: .5rem 0 2rem;
  background-image: linear-gradient(
    to top,
    rgba(36,36,36,1) 0%,
    rgba(36,36,36,1) 75%,
    rgba(36,36,36,.9) 85%,
    rgba(36,36,36,0) 100%
  );
}

.title {
  position: relative;
  display: inline-block;
  font-size: 2.8rem;
  padding: 1rem 0 0.5rem;
  text-align: center;
}

.title::before {
  content: "";
  position: absolute;
  bottom: .8rem;
  width: 100%;
  height: 0.2rem;
  background-image: var(--color-grad-right);
}

.offer_wrap {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 1.2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 1.7rem;

  overscroll-behavior: contain;
}

.offer_wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.offer_wrap {
  touch-action: pan-y;
}

.sml_text { font-size: 1.6rem; }
.lg_text { font-size: 2rem; }

.offer_line {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.centered {
  justify-content: center;
  text-align: center;
}

.offer_price {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .container {
    --specials-img-h: 24rem;
  }
}