

/* mobile layout */
.main {
    padding-top: 4.5rem;
    max-width: 100%;
    background-color: var(--color-grey-dark-1);
    overflow-x: hidden;
}

/* tablet layout */
@media (min-width: 768px){
    .main {
        padding-top: 6rem;
    }
}

/* desktop layout */
@media (min-width: 1024px){
    .main {
        padding-top: 7rem;
        overflow-x: visible;
        flex: 1;
    }
}
