.event {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    background-image: var(--color-grad-bottom);
    gap: 3rem;
}

.event_title {
    font-size: 4rem;
    color: var(--color-grey-light-3);
    text-align: center;
    letter-spacing: .1rem;
}

.next_event_wrapper,
.weekly_events_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-dark-1);
    max-width: fit-content;
}

.event_view_wrapper {
    position: relative;
}

.weekly_event_wrapper {
    position: relative;
    width: 100dvw;
}

.content_background,
.content_weekly_background {
    display: none;
}

.event_link {
  position: relative;
  text-decoration: none;
  margin-top: 3rem;
  cursor: pointer;
}

.event_btn {
  display: inline-block;
  padding: 0.60rem 1.5rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--color-grey-light-3);
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  border-radius: 1rem;
  border: var(--color-grey-light-3) 0.2rem solid;
}

/* Desktop */
@media (min-width: 1024px) {
    .event {
        padding: 6rem 0 6rem;
        gap: 3rem;
    }

    .content_background {
        display: block;
        position: absolute;
        transform: scaleY(1.3) scaleX(0.9);

        fill: var(--color-grey-dark-1);
        filter: drop-shadow(var(--shadow-dark-lg));
    }

    .event_view_wrapper{
        background-color: transparent;
        max-width: 65rem;
    }

    /* .event_link {
        font-size: 3.5rem;
    } */

    .weekly_events_wrapper {
        background-color: transparent;
        height: 50rem;
        max-width: 72rem;
    }

    .weekly_event_wrapper {
        width: fit-content;
    }

    .content_weekly_background {
        display: block;
        position: absolute;
        transform: scale(-1, 1) scaleY(1.3) scaleX(0.9);

        fill: var(--color-grey-dark-1);
        filter: drop-shadow(var(--shadow-dark-lg));
    }
}
