.specials {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--color-grey-dark-2);
  padding: 4rem 0;
}

.specials_title {
  position: relative;
  font-size: 4rem;
  color: var(--color-grey-light-3);
  letter-spacing: 0.1rem;
}

.specials_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-image: var(--color-grad-right);
}

.specials_wrapper {
  padding: 4rem 0 0 0;
  width: 100%;
  display: grid;
  gap: 3rem;

  min-width: 0;
}

.specials_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  min-width: 0;
}

.specials_heading {
  text-align: center;
  font-size: 3.5rem;
  color: var(--color-grey-light-3);
}

.loading_skeleton {
    position: relative;
    width: 100dvw;
    height: 40rem;
}

@media (min-width: 768px) {
  .specials {
    padding: 7rem 0;
  }
}

@media (min-width: 1024px) {
  .specials_wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    max-width: 110rem;
  }

  .specials_container {
    width: 100%;
  }
}