

.items_content_wrapper ul {
    width: 100%;
}

.item_container {
    display: flex;
    padding-bottom: 4rem;
}

.item_desc {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.item_price {
    display: flex;
    justify-content: start;
    padding-left: 5rem;
    width: 40%;
}

.item_chicken    {
    letter-spacing: .15rem;
    border-collapse: collapse;
}

.item_chicken th,
.item_chicken td {
    border-right: .2rem solid var(--color-grey-light-3);
    text-align: center;
}

.item_chicken th{
    border-bottom: .2rem solid var(--color-grey-light-3);
    padding: 0 1rem;
}

.item_chicken td {
    padding: 1rem 1rem 0;
}


.item_chicken th:first-child,
.item_chicken th:last-child,
.item_chicken td:last-child {
    border-right: none;
}

.item_burger th:first-child{
    border-bottom: none;
    padding-top: 1rem;
}


.item_chicken th:first-child {
    border: none;
    padding-top: 1rem;
}

.item_dip_header{
    width: 100%;
    text-align: center;
}

.item_dip_container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 2rem 0;
}

.item_dip_name {
    display: flex;
    align-items: center;
}
.item_dip_name span {
    padding: 0 1.5rem
}

.item_dip_name svg{
    width: 2rem;
    fill: var(--color-orange);
}

.item_dip_price {
    color: greenyellow;
}

