.item_container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

/* item description */
.item_desc {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.item_desc span {
    padding: 0 1.5rem
}

.item_desc svg {
    width: 2rem;
    fill: var(--color-orange);
}

/* Pricing */
.item_price {
    display: flex;
    justify-content: start;
    padding-left: 5rem;
    width: 50%;
}

.item_ribs    {
    letter-spacing: .15rem;
    border-collapse: collapse;
}

.item_ribs th,
.item_ribs td {
    border-right: .2rem solid var(--color-grey-light-3);
    text-align: center;
}

.item_ribs th{
    border-bottom: .2rem solid var(--color-grey-light-3);
    padding: 0 1rem;
}

.item_ribs td {
    padding: 1rem 1rem 0;
}


.item_ribs th:first-child,
.item_ribs th:last-child,
.item_ribs td:last-child {
    border-right: none;
}

.item_ribs th:first-child{
    border-bottom: none;
    padding-top: 1rem;
}