.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    padding: 5rem 0 5rem;
    background-color: var(--color-grey-dark-2);
}

.menu {
    width: 90%;
    height: fit-content;
    /* height: auto; */
}

@media (min-width:1024px) {
    .wrapper{
        padding-top: 13rem;
    }
}