.item_container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

/* item description */
.item_desc {
    display: flex;
    width: 50%;
    flex-direction: column;
}

/* Pricing */
.item_price {
    display: flex;
    justify-content: start;
    padding-left: 5rem;
    width: 50%;

}

.item_burger    {
    letter-spacing: .15rem;
    border-collapse: collapse;
}

.item_burger th,
.item_burger td {
    border-right: .2rem solid var(--color-grey-light-3);
    text-align: center;
}

.item_burger th{
    border-bottom: .2rem solid var(--color-grey-light-3);
    padding: 0 1rem;
}

.item_burger td {
    padding: 1rem 1rem 0;
}


.item_burger th:first-child,
.item_burger th:last-child,
.item_burger td:last-child {
    border-right: none;
}

.item_burger th:first-child{
    border-bottom: none;
    padding-top: 1rem;
}