.item_container {
    display: flex;
    width: 100%;
    padding-bottom: 4rem;
}

.item_desc {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.item_price {
    display: flex;
    justify-content: start;
    padding-left: 5rem;
    width: 40%;
}

.item_side    {
    letter-spacing: .15rem;
    border-collapse: collapse;
}

.item_side th,
.item_side td {
    border-right: .2rem solid var(--color-grey-light-3);
    text-align: center;
}

.item_side th{
    border-bottom: .2rem solid var(--color-grey-light-3);
    padding: 0 1rem;
}

.item_side td {
    padding: 1rem 1rem 0;
}

.item_side th:last-child,
.item_side td:last-child {
    border-right: none;
}