.button{
    background-color: transparent;
    border: none;
    font-size: 2.7rem;
    color: inherit;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: .2rem;
    word-spacing: .2rem;
    line-height: 2.8rem;
}