.border {
    position: absolute;
    width: 100%;
}

.top {
    bottom: 99%;
}

.bottom {
    top: 99%;
    transform: rotate(180deg);
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

@media (min-width: 768px){
    .mobile {
        display: none;
    }

    .desktop{
        display: block;
    }

    /* if border not to appear  */
    .desktop.mobile_only {
        display: none;
    }

}


