.form {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field_row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.control {
    margin-bottom: 1rem;
    width: 100%;
}

.control_icon {
    position: relative;
}

.control input,
.control textarea {
    display: block;
    padding: .5rem 1rem;
    cursor: pointer;
    color: var(--color-grey-dark-4);
    background-color: var(--color-grey-dark-3);
    border: 2px solid var(--color-grey-light-3);
    border-radius: .4rem;
}

.control textarea {
    height: 20rem;
    width: 100%;
}

.control input:focus,
.control textarea:focus {
    display: block;
    outline: none;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: var(--color-grad-right);
}

.control label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-grey-dark-3);
}

.control label span {
    float: right;
    text-transform: none;
}

.control_error {
    color: var(--color-orange);
    font-size: 1.3rem;
    height: 2rem;
    padding: 0.5rem 0;
}

.form_actions {
    margin-top: 2rem;
    gap: 3rem;
}

.btn{
    padding: 0.7rem 3rem;
    border-radius: 4px;
    border: 2px solid var(--color-grey-light-3);
    color: var(--color-grey-light-3);
    cursor: pointer;
    background-color: transparent;
    font-size: 1.6rem;
}

.btn:hover {
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: var(--color-grad-right);
}

.btn:active,
.btn_flat:active {
    background: var(--color-grad-right);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn_flat {
    cursor: pointer;
    color: var(--color-grey-dark-3);
    background-color: transparent;
    border: none;
}

.btn_flat:hover {
    color: var(--color-grey-dark-2);
}

.btn_icon {
    position: absolute;
    bottom: 2.4rem;
    right: .6rem;
    width: 2rem;
    height: 2rem;
    color: var(--color-grey-dark-4);
    background-color: transparent;
    border: none;
}
  
  @media (min-width:1024px){
    .form {
      padding: 4rem;
    }

    .field_row {
        flex-direction: row;
        align-items: start;
        gap: 1.5rem;
    }

    .align {
        align-self: start;
    }
  
    .control_error {
      font-size: 1.4rem;
    }
  
    .form_actions {
        gap: 5rem;
    }
  
  }